<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
</head>
<body>
    <h3>
        <a href={{url_for('search')}}>제목으로 검색하기</a>
    </h3>

    <div style="width:350px; height:5000px; border:1px solid red; float:left;">
        <h4>google movie list</h4>
        <a href={{url_for('reset', platform=1)}}>새로고침</a>
        <ul>
            {% for movie in google_movies %}
            <li>
                <a href={{url_for('showAboutMovie', platform=1, title=movie.title)}}>{{movie.title}}</a></br>
            </li>
            {% endfor %}
         </ul>
     </div>

     <div style="width:350px; height:5000px; border:1px solid green; float:left;">
        <h4>naver movie list</h4>
        <a href={{url_for('reset', platform=2)}}>새로고침</a>
        <ul>
            {% for movie in naver_movies %}
            <li>
                <a href={{url_for('showAboutMovie', platform=2, title=movie.title)}}>{{movie.title}}</a></br>
            </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>

 