<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        <a href={{url_for('mainpage')}}>메인으로</a>
    </h3>
    <h3>
        <a href={{url_for('search')}}>검색창으로</a>
    </h3>
    <div style="width:350px; height:5000px; border:1px solid red; float:left;">
        <h4>google movie list</h4>
        <ul>
            {% for movie in google_movies %}
            <li>
                랭킹: {{movie.rank}}<br>
                제목: {{movie.title}}<br>
                별점: {{movie.rate}}<br>
                가격: {{movie.price}}<br>
                <a href={{movie.url}}>바로가기</a><br>
                <a href={{url_for("showAboutMovie", platform=movie.platform_id, title=movie.title)}}>자세히 보기</a>
            </li>
            {% endfor %}
         </ul>
     </div>

     <div style="width:350px; height:5000px; border:1px solid green; float:left;">
        <h4>naver movie list</h4>
        <ul>
            {% for movie in naver_movies %}
            <li>
                랭킹: {{movie.rank}}<br>
                제목: {{movie.title}}<br>
                별점: {{movie.rate}}<br>
                가격: {{movie.price}}<br>
                <a href={{movie.url}}>바로가기</a><br>
                <a href={{url_for("showAboutMovie", platform=movie.platform_id, title=movie.title)}}>자세히 보기</a>
            </li>
            {% endfor %}
         </ul>
     </div>
</body>
</html>